{% extends '@layout/default.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block content %}
    <h1>Edit Album</h1>

    {% if form.messages %}
        <div class="alert alert-danger">
            <strong>The following errors occurred</strong>
            <ul>
                {% for messages in form.messages %}
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% do form.get('submit').setValue('Edit') %}

    <form action="{{ path('album.edit', {id: album.id}) }}" method="post" name="{{ form.name }}">
        <input type="{{ form.get('id').attributes.type }}" name="{{ form.get('id').name }}" value="{{ album.id }}" />

        <div class="form-group label-floating">
            <label class="label control-label" for="{{ form.get('title').name }}">{{ form.get('title').label }}</label>
            <input class="form-control"
                   type="{{ form.get('title').attributes.type }}"
                   name="{{ form.get('title').name }}"
                   value="{{ album.title }}"
                   required />
        </div>

        <div class="form-group label-floating">
            <label class="label control-label" for="{{ form.get('artist').name }}">{{ form.get('artist').label }}</label>
            <input class="form-control"
                   type="{{ form.get('artist').attributes.type }}"
                   name="{{ form.get('artist').name }}"
                   value="{{ album.artist }}"
                   required />
        </div>

        <input class="btn btn-raised btn-primary"
               type="{{ form.get('submit').attributes.type }}"
               name="{{ form.get('submit').name }}"
               value="{{ form.get('submit').value }}" />

    </form>
{% endblock %}